In [13]:
import pandas as pd
import numpy as np
import re
import os
import glob

In [14]:
stock_code = pd.read_csv("stock_code.csv")
stock_set = set(stock_code['StockCode'])

# Regex untuk kata 4 huruf kapital
pattern = r'\b[A-Z]{4}\b'

In [ ]:
# df = pd.read_csv("data/MAO/manuverasetofficial_messages_3_days.csv")

# df = df[['date', 'message']]

In [ ]:
stock_set = set(stock_code['StockCode'])

# Regex untuk kata 4 huruf kapital
pattern = r'\b[A-Z]{4}\b'

# Ambil kata dari message
words = df['message'].dropna().str.findall(pattern).explode().dropna()

# Filter kata yang ada di stock_code
filtered_words = words[words.isin(stock_set)]

print(filtered_words)

7       BUMI
11      JAST
27      BBCA
46      INET
57      RMKO
        ...
4819    EMTK
4832    VICO
4840    ERAL
4848    GGRP
4869    BUMI
Name: message, Length: 493, dtype: object

In [ ]:
# Hitung frekuensi munculnya
counts = filtered_words.value_counts()
print(counts)

message
BUMI    43
MINA    27
PADI    16
DEWA    14
HUMI    14
        ..
MLPL     1
PEGE     1
HRTA     1
VICO     1
GGRP     1
Name: count, Length: 141, dtype: int64

In [ ]:
def has_stock_code(msg):
    if pd.isna(msg):
        return False
    words = re.findall(pattern, msg)
    # Cek apakah ada kata yang ada di stock_setw
    return any(word in stock_set for word in words)

# Filter dataframe
df_filtered_words = df[df['message'].apply(has_stock_code)].copy()
df_filtered_words

,date,message
7,2026-01-27 10:06:40+00:00,BUMI dari 402 dipupuk tiap hari jadi 356... se...
11,2026-01-27 06:35:24+00:00,JAST berusaha ara. üòÅ
27,2026-01-27 02:38:07+00:00,BBCA ud waktunya serok belum ya?
46,2026-01-27 02:14:49+00:00,INET APAALAGIII
57,2026-01-26 22:10:52+00:00,infonya RMKO dong bg?
...,...,...
4819,2025-12-29 06:47:43+00:00,mas rendra izin minta saran nih \nlagi nyangku...
4832,2025-12-29 06:38:34+00:00,Mas VICO gimana mas
4840,2025-12-29 03:30:04+00:00,ada yang masuk $ERAL?
4848,2025-12-29 01:53:18+00:00,info GGRP ada yg hold?
4869,2025-12-28 06:43:40+00:00,BUMI senin akan semakin membumi.. wait & see.....

# Concat all data previous 90 days

In [32]:
dataframes = []
main_dir = 'data/'

for folder in os.listdir(main_dir):
    folder_path = os.path.join(main_dir, folder)

    if os.path.isdir(folder_path):
        csv_files = glob.glob(os.path.join(folder_path, "*.csv"))
        for file_path in csv_files:
            df = pd.read_csv(file_path)
            dataframes.append(df)

if dataframes:
    combined_chat_90d_20260127 = pd.concat(dataframes, ignore_index=True)
    display(combined_chat_90d_20260127)
else:
    print("Tidak ada file CSV yang ditemukan.")

,date,sender_id,username,message
0,2026-01-27 10:46:12+00:00,8.321171e+09,NaN,tapi ya lumayan lah buat ngopi itu harusnya üòå
1,2026-01-27 10:45:54+00:00,8.321171e+09,NaN,receh sih cuma 71 lot
2,2026-01-27 10:44:37+00:00,5.441005e+09,Gorgon76,NaN
3,2026-01-27 10:44:23+00:00,5.441005e+09,Gorgon76,Pasukan AVG DOWN CDIA gimana ini
4,2026-01-27 10:26:02+00:00,9.421760e+08,Nopriga,target 250
...,...,...,...,...
23184,2025-10-29 13:28:51+00:00,1.870290e+09,Abdullah_dudung,NaN
23185,2025-10-29 13:10:17+00:00,1.870290e+09,Abdullah_dudung,Nanti akan dibahas lengkap di pembelajaran om
23186,2025-10-29 13:09:40+00:00,8.316242e+09,NaN,Bang request rumus screener scalping
23187,2025-10-29 13:00:55+00:00,7.978384e+09,aliska69069,Buka lapak semakin menarik
23188,2025-10-29 12:37:46+00:00,8.316242e+09,NaN,Bahas request listnya bang

In [33]:
combined_chat_90d_20260127 = combined_chat_90d_20260127[['date', 'message']]
combined_chat_90d_20260127 = combined_chat_90d_20260127.dropna(subset=['message'])

print(combined_chat_90d_20260127.info())

print(combined_chat_90d_20260127['message'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Index: 16530 entries, 0 to 23188
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     16530 non-null  object
 1   message  16530 non-null  object
dtypes: object(2)
memory usage: 387.4+ KB
None
message
üî•                                                                                                                                                                                                            51
wkwkwkw                                                                                                                                                                                                      17
üî•üî•üî•                                                                                                                                                                                                          15
Monggo yang mau request list disini yaaüôåüôåüî•üî•\r\n\r\nList request analisa teknikal¬† (1 orang 1 emiten MAX 10):\r\n1.\r\n2.\r\n3.\r\n4.\r\n5.\r\n6.\r\n7.\r\n8.\r\n9.\r\n10.\r\nNOTE: SELAIN SAHAM IPO & FCA    14
Wkwkwk                                                                                                                                                                                                       14
                                                                                                                                                                                                             ..
Pasukan AVG DOWN CDIA gimana ini                                                                                                                                                                              1
receh sih cuma 71 lot                                                                                                                                                                                         1
tapi ya lumayan lah buat ngopi itu harusnya üòå                                                                                                                                                                 1
Bahas request listnya bang                                                                                                                                                                                    1
[JK.65](tg://user?id=1155527975) kick om @Abdullah_dudung                                                                                                                                                     1
Name: count, Length: 15318, dtype: int64

In [34]:
def clean_text(text):
    text = re.sub(r'[^\x00-\x7F]+', '', text)  # Menghapus karakter non-ASCII
    text = re.sub(r'[^A-Za-z0-9\s]', '', text)  # Menghapus karakter khusus
    return text

def has_stock_code(msg):
    if pd.isna(msg):
        return False
    words = re.findall(pattern, msg)
    # Cek apakah ada kata yang ada di stock_set
    return any(word in stock_set for word in words)

In [35]:
combined_chat_90d_20260127['message'] = combined_chat_90d_20260127['message'].apply(clean_text)

combined_chat_90d_20260127['message'] = combined_chat_90d_20260127['message'].replace('NaN', np.nan)
combined_chat_90d_20260127['message'] = combined_chat_90d_20260127['message'].replace('', np.nan)

combined_chat_90d_20260127 = combined_chat_90d_20260127.dropna(subset=['message'])
combined_chat_90d_20260127 = combined_chat_90d_20260127.reset_index()

print(combined_chat_90d_20260127['message'].value_counts())
print(combined_chat_90d_20260127)

message
Alhamdulillah done semua yaa request analisa teknikalnya semoga bermanfaat                                21
wkwkwkw                                                                                                   17
Wkwk                                                                                                      16
Alhamdulillah                                                                                             15
Wkwkwk                                                                                                    15
                                                                                                          ..
Bgs mana ni gaes                                                                                           1
JAST berusaha ara                                                                                          1
This                                                                                                       1
BUMI dari 402 dipupuk tiap hari jadi 356 sekarang tu parkir di 344 Kira bakal ambles lagi gak ya besok     1
kayanya bakal bang                                                                                         1
Name: count, Length: 15082, dtype: int64
       index                       date  \
0          0  2026-01-27 10:46:12+00:00
1          1  2026-01-27 10:45:54+00:00
2          3  2026-01-27 10:44:23+00:00
3          4  2026-01-27 10:26:02+00:00
4          5  2026-01-27 10:21:16+00:00
...      ...                        ...
16214  23183  2025-10-29 13:29:02+00:00
16215  23185  2025-10-29 13:10:17+00:00
16216  23186  2025-10-29 13:09:40+00:00
16217  23187  2025-10-29 13:00:55+00:00
16218  23188  2025-10-29 12:37:46+00:00

                                                 message
0           tapi ya lumayan lah buat ngopi itu harusnya
1                                  receh sih cuma 71 lot
2                       Pasukan AVG DOWN CDIA gimana ini
3                                             target 250
4                                       Nyampek kepala 2
...                                                  ...
16214  Nanti 2 Minggu lagi akan buka belajar saham da...
16215      Nanti akan dibahas lengkap di pembelajaran om
16216               Bang request rumus screener scalping
16217                         Buka lapak semakin menarik
16218                         Bahas request listnya bang

[16219 rows x 3 columns]

In [38]:
filtered_combined_chat_90d_20260127 = combined_chat_90d_20260127[combined_chat_90d_20260127['message'].apply(has_stock_code)].copy()
filtered_combined_chat_90d_20260127

,index,date,message
6,7,2026-01-27 10:06:40+00:00,BUMI dari 402 dipupuk tiap hari jadi 356 sekar...
8,11,2026-01-27 06:35:24+00:00,JAST berusaha ara
18,27,2026-01-27 02:38:07+00:00,BBCA ud waktunya serok belum ya
34,46,2026-01-27 02:14:49+00:00,INET APAALAGIII
43,57,2026-01-26 22:10:52+00:00,infonya RMKO dong bg
...,...,...,...
16175,23134,2025-10-30 02:10:46+00:00,ACRO boleh di TP dulu ya guys tapi kalau mau h...
16176,23135,2025-10-30 02:10:32+00:00,ACRO boleh di TP dulu ya guys tapi kalau mau h...
16178,23141,2025-10-29 14:42:16+00:00,NRCA menarik buat swing yaa
16179,23142,2025-10-29 14:33:45+00:00,ijin view NRCA nya ya suhu thanks
16193,23160,2025-10-29 14:01:37+00:00,Monggo yang mau request list disini yaa\r\n\r\...

In [40]:
stock_set = set(stock_code['StockCode'])

# Regex untuk kata 4 huruf kapital
pattern = r'\b[A-Z]{4}\b'

# Ambil kata dari message
words = combined_chat_90d_20260127['message'].dropna().str.findall(pattern).explode().dropna()

# Filter kata yang ada di stock_code
filtered_combined_chat_90d_20260127 = words[words.isin(stock_set)]

print(filtered_combined_chat_90d_20260127)

6        BUMI
8        JAST
18       BBCA
34       INET
43       RMKO
         ...
16193    OPMS
16193    DATA
16193    SMGA
16193    SDRA
16193    BKSL
Name: message, Length: 4121, dtype: object

In [45]:
# Hitung frekuensi munculnya
counts_combined_chat_90d_20260127 = filtered_combined_chat_90d_20260127.value_counts()

df_counts_combined_chat_90d_20260127 = counts_combined_chat_90d_20260127.reset_index()
df_counts_combined_chat_90d_20260127.columns = ['message', 'count']

display(df_counts_combined_chat_90d_20260127)

    message  count
0      BUMI    165
1      MINA    105
2      DEWA     98
3      BKSL     89
4      EMTK     82
..      ...    ...
358    RALS      1
359    IBOS      1
360    ACES      1
361    MORA      1
362    SDRA      1

[363 rows x 2 columns]